.batchesTable > .p-datatable {
  display: flex;
  flex-direction: column;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  margin-right: 10px;
  padding: 0px 20px 54px 20px;
  margin-top: 39px;
}

.batchesTable > .p-datatable > .p-datatable-header {
  align-self: flex-end;
  border: none;
}

.batchesTable > .p-datatable > .p-datatable-header,
.batchesTable > .p-datatable > .p-datatable-wrapper > table > .p-datatable-thead > tr > th {
  background-color: white;
}
