<div class="pl-3 pt-5">
  <button pButton (click)="goBack()" label="Back" class="p-button-link"></button>
  <h3 class="mb-3 mt-5 text-center">Batch Details...</h3>
  <div class="d-flex justify-content-around text-center">
    <p class="tableInfo">Batch Name: {{batch.name}}</p>
    <p class="tableInfo">Total Records: {{batchRows.length}}</p>
    <p class="tableInfo">Status: {{batch.status}}</p>
  </div>
  <app-border>
    <p-table #tt aria-colcount="6" [value]="batchRows" [columns]="cols" class="batchTable" [paginator]="true"
      [rows]="10" [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="caption">
        <input type="text" pInputText size="25" placeholder="Filter table..."
          (input)="tt.filterGlobal($event.target.value, 'contains')" class="pl-2 border rounded">
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-batchRow let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{batchRow[col.field]}}
          </td>
          <td>
            <button *ngIf="batchRow.pending" pButton routerLink="/batch/details/{{batchRow.id}}" type="button" label="Work"
              class="p-button-success w-100 p-button-sm"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </app-border>
</div>