<div class="pl-3 pt-5">
  <h3 class="mb-3 mt-5 text-center">Batch Details...</h3>
  <div class="d-flex justify-content-around">
    <p>Batch Name: {{batchName}}</p>
    <p>Total Records: {{totalRecords}}</p>
    <p>Status: {{status}}</p>
  </div>
  <app-border className="ml-3">
    <div class="d-flex justify-content-center mt-2 mb-4" id="flexButtons">
      <button pButton type="button" label="Skip" class="p-button-sm pl-4 pr-4"></button>
      <button pButton type="button" label="Accept" class="p-button-success p-button-sm pl-4 pr-4"></button>
      <button pButton type="button" label="Exit" (click)="goBack()"
        class="p-button-warning p-button-sm pl-4 pr-4"></button>
    </div>
    <div class="mb-4" id="grid">
      <input type="text" placeholder="Batch Name goes here which will be editable" class="h-75" pInputText />
      <input type="text" placeholder="Batch Gender goes here which will be editable" class="h-75" pInputText />
      <input type="text" placeholder="Batch Date goes here which will be editable" class="h-75" pInputText />
      <input type="text" placeholder="Editable" class="h-75" pInputText />
      <input type="text" placeholder="Editable" class="h-75" pInputText />
      <input type="text" placeholder="Editable" class="h-75" pInputText />
      <input type="text" placeholder="Editable" class="h-75" pInputText />
      <input type="text" placeholder="Editable" class="h-75" pInputText />
      <input type="text" placeholder="Editable" class="h-75" pInputText />
    </div>
  </app-border>
  <button pButton type="button" label="Submit" class="p-button-success p-button-sm pl-3 pr-3 mt-3"></button>
</div>