#grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 20px;
  row-gap: 40px;
}

#flexButtons {
  column-gap: 40px;
}

.wp-30 {
  width: 30%;
}
