<div class="pl-3 pt-5">
  <h3 class="mb-3 mt-5 text-center">Batch Details...</h3>
  <div class="d-flex justify-content-around">
    <p>Batch Name: {{batchName}}</p>
    <p>Total Records: {{totalRecords}}</p>
    <p>Status: {{status}}</p>
  </div>
  <app-border className="ml-3">
    <div class="d-flex justify-content-center mt-2 mb-5" id="flexButtons">
      <button pButton type="button" label="Skip" class="p-button-sm pl-4 pr-4"></button>
      <button pButton type="button" label="Accept" [routerLink]="['/batch/details/' + id + '/accept']"
        class="p-button-success p-button-sm pl-4 pr-4"></button>
      <button pButton type="button" label="Exit" (click)="goBack()"
        class="p-button-warning p-button-sm pl-4 pr-4"></button>
    </div>
    <div class="mb-4" id="grid">
      <app-input-disabled type="text" label="Batch Name goes here which will be editable" className="b-grey">
      </app-input-disabled>
      <app-input-disabled type="text" label="Batch Gender goes here which will be editable" className="b-grey">
      </app-input-disabled>
      <app-input-disabled type="text" label="Batch Date goes here which will be editable" className="b-grey">
      </app-input-disabled>
      <app-input-disabled type="text" label="Editable" className="b-grey"></app-input-disabled>
      <app-input-disabled type="text" label="Editable" className="b-grey"></app-input-disabled>
      <app-input-disabled type="text" label="Editable" className="b-grey"></app-input-disabled>
      <app-input-disabled type="text" label="Editable" className="b-grey"></app-input-disabled>
      <app-input-disabled type="text" label="Editable" className="b-grey"></app-input-disabled>
      <app-input-disabled type="text" label="Editable" className="b-grey"></app-input-disabled>
    </div>
  </app-border>
</div>