<div class="batch-row-accept">
  <div class="g-cols-3">
    <app-input label="Adress" [value]="AddressInfo"></app-input>
    <app-input label="APN" [(ngModel)]="batchDetail.apn"></app-input>
    <app-input label="Ref ID" [(ngModel)]="batchDetail.refId"></app-input>
  </div>

  <div class="g-cols-7">
    <app-input label="Current Owner" [(ngModel)]="batchDetail.currentOwner"></app-input>
    <app-input label="Prop Land Use" [(ngModel)]="batchDetail.prop.landUse"></app-input>
    <app-input label="Prop Year Built" [(ngModel)]="batchDetail.prop.yearBuilt"></app-input>
    <app-input label="Prop Subdivision" [(ngModel)]="batchDetail.prop.subdivision"></app-input>
    <app-input label="Prop Standard Subdivision" [(ngModel)]="batchDetail.prop.standardSubdivison"></app-input>
    <app-input label="Prop Subdivision 2" [(ngModel)]="batchDetail.prop.subdivision2"></app-input>
    <app-input label="Prop Override Division" [(ngModel)]="batchDetail.prop.overrideSubdivision"></app-input>
  </div>

  <div class="g-cols-7">
    <app-input label="Latest Sale Condorider" [(ngModel)]="batchDetail.latestSale.condorider"></app-input>
    <app-input label="Latest Sale Pudrider" [(ngModel)]="batchDetail.latestSale.pudrider"></app-input>
  </div>

  <div class="g-cols-4">
    <app-input-disabled label="HOA Indicator" [value]="batchDetail.hoa.indicator"></app-input-disabled>
    <app-input-disabled label="HOA Flag" [value]="batchDetail.hoa.flag"></app-input-disabled>
    <app-input-disabled label="Number of HOAs" type="number" [value]="batchDetail.hoa.number"></app-input-disabled>
    <app-input-disabled label="Comment" [value]="batchDetail.hoa.comments"></app-input-disabled>
  </div>

  <div *ngFor="let hoa of batchDetail.hoa.hoas; let i = index">
    <div class="g-cols-5">
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Name'" [value]="hoa.name"></app-input-disabled>
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Type'" [value]="hoa.type"></app-input-disabled>
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Is Master/Has Master'" [value]="hoa.isMaster || hoa.hasMaster"></app-input-disabled>
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Voluntary'" [value]="hoa.voluntary"></app-input-disabled>
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Has Management Company'" [value]="hoa.hasManagementCompany"></app-input-disabled>
    </div>

    <div class="g-cols-5">
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Contact Name'" [value]="hoa.contactName"></app-input-disabled>
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Contact Type'" [value]="hoa.contactType"></app-input-disabled>
    </div>

    <div class="g-cols-5">
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Address Mailing'" [value]="hoa.mailingAddress"></app-input-disabled>
    </div>

    <div class="g-cols-5">
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' City'" [value]="hoa.city"></app-input-disabled>
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' State'" [value]="hoa.state"></app-input-disabled>
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Zip Code'" [value]="hoa.zipCode"></app-input-disabled>
    </div>

    <div class="g-cols-5">
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Contact Phone'" [value]="hoa.contactPhone"></app-input-disabled>
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Contact Phone Type'" [value]="hoa.contactPhoneType"></app-input-disabled>
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Contact Email'" [value]="hoa.contactEmail"></app-input-disabled>
    </div>

    <div class="g-cols-3">
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Management Company Name'" [value]="hoa.managementCompanyName"></app-input-disabled>
    </div>

    <div class="g-cols-3">
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Management Company Address'" [value]="hoa.managementCompanyAddress"></app-input-disabled>
    </div>

    <div class="g-cols-5">
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Management Company City'" [value]="hoa.contactPhone"></app-input-disabled>
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Management Company State'" [value]="hoa.contactPhoneType"></app-input-disabled>
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Management Company Zip'" [value]="hoa.contactEmail"></app-input-disabled>
    </div>

    <div class="g-cols-5">
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Management Company Phone'" [value]="hoa.managementCompanyPhone"></app-input-disabled>
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Management Company Phone Type'" [value]="hoa.managementCompanyPhoneType"></app-input-disabled>
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Management Company Company Email'" [value]="hoa.managementCompanyEmail"></app-input-disabled>
      <app-input-disabled [label]="'HOA Contact Type 2'" [value]="hoa.contactType2"></app-input-disabled>
    </div>

    <div class="g-cols-5">
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Last Verified Date'" [value]="formatDate(hoa.lastVerified)"></app-input-disabled>
      <app-input-disabled [label]="'HOA ' + (i + 1) + ' Verified Method'" [value]="hoa.verifiedMethod"></app-input-disabled>
    </div>

    <button class="mr-5" pButton type="button" label="Submit"></button>
    <button pButton type="button" (click)="goBack()" label="Cancel" class="p-button-secondary"></button>
  </div>
</div>
